/*--------------------АВТОРИЗАЦІЯ---------------*/

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
    background-color: lightgrey;
    color: #606468;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

a {
    color: #eee;
    text-decoration: none;
    color: cadetblue;
    font-size: 15px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: #d44179;
    cursor: pointer;
    text-decoration: none;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
}

/* ---------- LOGIN ---------- */

#login {
    margin: 150px auto;
    width: 280px;
}

#login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    color: #606468;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

#login form input {
    height: 50px;
    outline: none;
}

#login form input[type="text"], input[type="password"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    color: #606468;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 198px;
}

#login form input:focus {
    color: #fff;
}

#login form input[type="submit"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: cadetblue;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    cursor: pointer;
    width: 280px;
}

#login form input[type="submit"]:hover {
    background-color: #d44179;
}

#login>p {
    text-align: center;
}

#login>p span {
    padding-left: 5px;
}

/* ---------- REGISTRATION ---------- */

#registr {
    left: 525px;
    background-color: lightgrey;
    padding: 50px;
    margin: 150px auto;
    width: 280px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

#registr p {
    width: 80px;
    font-family: Arial;
    font-size: 16px;
    margin-top: 15px;
}
#registr input {
    height: 50px;
    outline: none;
}

#registr input[type="text"]:focus {
    color: #fff;
}

#registr input[type="password"]:focus {
    color: #fff;
}

#registr input[type="text"], input[type="password"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    color: #606468;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 198px;
}

#registr input[type="submit"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: cadetblue;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    cursor: pointer;
    width: 280px;
}

#registr input[type="submit"]:hover {
    background-color: #d44179;
}
#registr a{
    font-weight: bold;

}

/*-----------------MENU---------------*/

.top-menu {
    height: 50px;
    list-style: none;
    background-color: #606468;
    text-align: center;
}

.top-menu li {
    width: 150px;
    position: relative;
    display: inline-block;
    border-right: 1px solid #fff;
    text-align: center;
    list-style-type: none;
}

.top-menu a {
    display: block;
    padding: 15px;
    color: #fff;
}

.top-menu a:hover {
    background: #f5f5f5;
    color: black;
    text-decoration: none;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

/*-------------БОКОВЕ МЕНЮ ----------*/

.nav {
    width: 320px;
    min-width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: -320px;
    padding: 15px 20px;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    background: #16a085;
    z-index: 2000;
}

.nav-toggle {
    position: absolute;
    left: 320px;
    top: 1em;
    padding: 0.7em;
    background: inherit;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1;
    z-index: 2001;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}

.nav-toggle:hover {
    color: #fff;
}

/* Когда флажок установлен, открывается панель используем псевдокласс:checked */

[id='nav-toggle']:checked~.nav {
    left: 0;
    box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

/*изменение символа переключателя, (X)*/

[id='nav-toggle']:checked~.nav>.nav-toggle:after {
    content: '\2715';
}

/*на  мобильні екрани */

@media screen and (min-width: 320px) {
    html, body {
        margin: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 320px) {
    html, body {
        margin: 0;
        overflow-x: hidden;
    }
    .nav {
        width: 100%;
        box-shadow: none
    }
}

/**
 * формируем непосредственно само меню
 * используем неупорядоченный список для пунктов меню
 * прикрутим трансфомации и плавные переходы
 */

.nav>ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 40px;
}

.nav>ul>li {
    line-height: 3.5;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked~.nav>ul>li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/* определяем интервалы появления пунктов меню */

.nav>ul>li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}

.nav>ul>li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}

.nav>ul>li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}

.nav>ul>li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}

.nav>ul>li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}

.nav>ul>li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}

/*оформление ссылок пунктов меню */

.nav>ul>li>a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}

.nav>ul>li>a:hover, .nav>ul>li>a:focus {
    color: white;
    padding-left: 15px;
}

/* Home-Block*/


.sourses ul{
    list-style: none;
	text-align: center;
	margin: 0 auto;
    margin-left: 400px;
    width: 600px;
}

.sourses ul a {
    width: 80px;
	height: 80px;
	margin: 2%;
	background: #3bc1a0;
	color: #fff;
	display: block;
	float: left;
	padding: 1.5em;
	cursor: pointer;
	position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.sourses p{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    float: left;

}
.sourses input{

}







/*account block*/

.users-page-photo {
    float: left;
    margin-left: 65px;
}

.users-page-information {
    float: left;
    width: 500px;
    min-height: 100px;
    /*border: 1px solid black;*/
    margin-left: 20px;
}

.users-page-information span {
    display: block;
}

.users-page-edit {
    float: left;
}

.users-page-edit input {
    display: block;
    margin: 15px;
    width: 70px;
}

.users-page-source {
    position: absolute;
    top: 400px;
    left: 15%;
}


.users-page-saves {
    position: absolute;
    top: 500px;
    left: 15%;
}

.users-page-source input {
    border-radius: 100%;
    height: 90px;
    width: 90px;
}

.users-page-saves input {
    border-radius: 100%;
    height: 90px;
    width: 90px;
}
