<div ng-show="accountBlock">
    <div class="users-page">
        <div class="users-page-photo">
            <img src="#" width="250px" height="250px" />
        </div>
        <div class="users-page-information" ng-repeat="a in usersInfo">
            <span>{{a.nameUser}}</span>
            <span>{{a.snameUser}}</span>
            <span>{{a.eMail}}</span>
            <span>{{a.pass}}</span>
            <span>{{a.bDay}}</span>
        </div>
        <div class="users-page-edit">
            <input type="button" value="edit"/>
            <input type="button" value="delete"/>
        </div>
        <div class="users-page-source">
            <input type="button" value="Add source"/>
            <input type="button" value="Delete source"/>
            <input type="button" value="Edit source"/>
        </div>
        <div class="users-page-saves">
            <input type="button" value="Add saves"/>
            <input type="button" value="Delete saves"/>
            <input type="button" value="Edit saves"/>
        </div>
    </div>
</div>
