<div ng-show="accountBlock">
    <div class="users-page">
        <div class="users-page-photo">
            <img src="#" width="250px" height="250px" />
        </div>
        <div class="users-page-information">
            <span>Name{{users[0].name}}</span>
            <span>Sname{{users[0].sname}}</span>
            <span>email{{users[0].email}}</span>
            <span>password{{users[0].password}}</span>
            <span>age{{users[0].age}}</span>
        </div>
        <div class="users-page-edit">
            <input type="button" value="edit"/>
            <input type="button" value="delete"/>
        </div>
        <div class="users-page-source">
            <input type="button" value="Add source"/>
            <input type="button" value="Delete source"/>
            <input type="button" value="Edit source"/>
        </div>
        <div class="users-page-saves">
            <input type="button" value="Add saves"/>
            <input type="button" value="Delete saves"/>
            <input type="button" value="Edit saves"/>
        </div>
    </div>
</div>
