<div ng-show="accountBlock">
    <div class="users-page">
        <div class="users-page-photo">
            <img src="./public/img/user.jpg" width="150px" height="150px">
        </div>
        <div class="users-page-information">
            <span>Name</span>
            <span>Sname</span>
            <span>E-mail</span>
            <span>Password</span>
            <span>Date of birth</span>
        </div>
        
        <div class="users-page-edit">
            <input type="button" value="edit" ng-click='accEditBut()'>
            <input type="button" value="delete" ng-click='accDelBut()'>
        </div>
        
        <div class="users-page-source">
            <input type="button" value="Add source">
            <input type="button" value="Delete source">
            <input type="button" value="Edit source">
        </div>
        <div class="users-page-saves">
            <input type="button" value="Add saves"/>
            <input type="button" value="Delete saves"/>
            <input type="button" value="Edit saves"/>
        </div>
    </div>
</div>


