<div class='incomesModal'>
            <select>
                <option value="The bank">The bank</option>
                <option value="Cash">Cash</option>
                <option value="Visa">Visa</option>
            </select>
            <input type="text" value="$">
            <input type="text" value="Comments">
            <select>
                <option value="Work">Work</option>
                <option value="Freelance">Freelance</option>
                <option value="Borrow">Borrow</option>
            </select>
</div>