<div class='incomesModal'>
    <ul>
        <li>
            <select>
                <option value="The bank">The bank</option>
                <option value="Cash">Cash</option>
                <option value="Visa">Visa</option>
            </select>
        </li>
        <li>
            <input type="text" value="$">
        </li>
        <li>
            <input type="text" value="Comments">
        </li>
        <li>
            <select>
                <option value="Work">Work</option>
                <option value="Freelance">Freelance</option>
                <option value="Borrow">Borrow</option>
            </select>
        </li>
    </ul>
</div>