<div>
    <center>
        <div>
            <h2 class="ngdialog-content ">Add new incomes</h2>
            <br>

            <label for="Sources">Chouse source</label>

            <select ng-model="SelectedSource" name="sources" ng-options=" source.sName for source in users[0].sources track by source.id "></select> ID: {{SelectedSource.id}}
            <br><br>

            <label for="name">Name</label>
            <br>
            <input name="name" type="text" ng-model="IncomeName">

            <br><br>

            <label for="comment">Comment</label>
            <br>
            <input name="comment" type="text" ng-model="IncomeComment">

            <br><br>

            <label for="comment">Summ</label>
            <br>
            <input name="comment" type="number" min="1" ng-model="IncomeSumm" value="1">
            <br>
            <br>

            <label for="Sources">Chouse Save</label>

            <select ng-model="SelectedIncomeSave" name="save" ng-options=" save.name for save in users[0].saves track by save.id "></select>
            <br><br>

            <span>Total: {{SelectedIncomeSave.sum | currency}} +</span>
            <span style="color: #17c76f"> {{IncomeSumm | currency}}</span> =
            <span style="color: #088beb">{{SelectedIncomeSave.sum + IncomeSumm | currency }}</span>
            
            <br>
            <button class="btn" id="SendExpense" ng-click="addIncome()" ng-if="(IncomeName && IncomeComment && IncomeSumm)? true : false">
        Add Income
        </button>
        </div>
    </center>

    <!--    <input type="button" ng-click="ngDialog.closeAll()" value="Register">-->
</div>
