<div id="login" ng-show="loginBlock">
    <form role="form" name="myForm" novalidate>
        <fieldset>
            <div>
                <p><span class="fontawesome-user"></span>
                    <input type="text" ng-model="login" value="user@gmail.com" onBlur="if(this.value == '') this.value = 'user@gmail.com'" onFocus="if(this.value == 'user@gmail.com') this.value = ''" required>
                </p>
            </div>

            <div>
                <p><span class="fontawesome-lock"></span>
                    <input type="password" ng-model="password" value="Пароль" onBlur="if(this.value == '') this.value = 'Пароль'" onFocus="if(this.value == 'Пароль') this.value = ''" required>
                </p>
            </div>
            <p><input type="submit" ng-click="getUser()" value="Login" ng-disabled="myForm.$invalid"></p>
        </fieldset>
    </form>

    <p>Don't have account?
        <a ng-click="Registr()">Registration</a>
        <span class="fontawesome-arrow-right"></span>
    </p>
</div>
