<div id="registr" ng-show="registerBlock">
    <table>
        <tr>
            <td><p>Name</p></td>
            <td><input type="text" value=""></td>
        </tr>
        <tr>
            <td><p>Surname</p></td>
            <td><input type="text" value=""></td>
        </tr>
        <tr>
            <td><p>E-mail</p></td>
            <td><input type="text" value=""></td>
        </tr>
        <tr>
            <td><p>Login</p></td>
            <td><input type="text" value=""></td>
        </tr>
        <tr>
            <td><p>Password</p></td>
            <td><input type="password" value=""></td>
        </tr>
        <tr>
            <td><p>Repeat password</p></td>
            <td><input type="password" value=""></td>
        </tr>
        <tr>
            <td><p>Date of birth</p></td>
            <td><input type="text" value=""></td>
        </tr>
    </table>
     <p><input type="submit" value="Sign up" ng-click = "registerAcc()">
    <p><input type="submit" value="Close" ng-click = "closeRegAcc()"></p>


</div>
