<div id="registr" ng-show="registerBlock">
    <form role=form name="regForm" novalidate>
       <fieldset>
       <table>
        <tr>
            <td><p>Login</p></td>
            <td><input type="text" ng-model="newLogin" value="Ваш логін" required></td>
        </tr>
        <tr>
            <td><p>E-mail</p></td>
            <td><input type="text" ng-model="newMail" value="Введіть email" required></td>
        </tr>
        <tr>
            <td><p>Password</p></td>
            <td><input type="password"  ng-model="newPassword" value="Пароль" required></td>
        </tr>
        <tr>
            <td><p>Repeat password</p></td>
            <td><input type="password" ng-model="rnewPassword" value="Ще раз пароль" required></td>
        </tr>
        <tr>
            <td><p>Date of birth</p></td>
            <td><input type="text" ng-model="newDateOfBirth"value="ДД.ММ.РР" required></td>
        </tr>
    </table>
    
    <p><input type="submit" value="Sign up" ng-click = "registerAcc()" ng-disabled="regForm.$invalid">
    <p><input type="submit" value="Close" ng-click = "closeRegAcc()"></p>
    
</fieldset>
    </form>
</div>