<div>
    <center>
        <h2 class="ngdialog-content ">Expension creation</h2>
        <br>
        
        <label for="name">Name</label>
        <br>
        
        <input name="name" type="text" ng-model="ExpenseName">
        <br><br>

        <label for="comment">Comment</label>
        <br>
        
        <input name="comment" type="text" ng-model="ExpenseComment">
        <br>
        <br>

        <label for="sum">Sum</label>
        <br>
        
        <input name="sum" type="number" min="1" value="1" max={{SelectedExpenseSave.sum}} ng-model="ExpenseSum">
        <br>
        <br>

        <label for="Sources">Chouse source</label>

        <select ng-model="SelectedExpenseSave" name="Sources" ng-options=" save.name for save in users[0].saves track by save.id "></select>
        <br>
        
        <span>Total: {{SelectedExpenseSave.sum | currency}}</span>
        <span style="color: lightcoral">- {{ExpenseSum| currency}}</span>
        <span style="color: #1776c7"> = {{SelectedExpenseSave.sum - ExpenseSum | currency}}</span>

        <br>
        <br>

        <button class="btn" ng-click="spendSaves()" ng-if="(ExpenseName && ExpenseSum && ExpenseComment)? true : false">
        Add Expense
        </button>
    </center>

    <!--    <input type="button" ng-click="ngDialog.closeAll()" value="Register">-->
</div>
