<div ng-show="statsBlock" class="statistics">
    <div>
        <div class="month" id="month">
            <select ng-model="month" ng-change="update()">
                <option value="." ng-click="0" checked>
                    <strong>2017</strong>
                </option>
                <option ng-click="0" value=".01.">January</option>
                <option ng-click="0" value=".02.">February</option>
                <option ng-click="0" value=".03.">March</option>
                <option ng-click="0" value=".04.">April</option>
                <option ng-click="0" value=".05.">May</option>
                <option ng-click="0" value=".06.">June</option>
                <option ng-click="0" value=".07.">July</option>
                <option ng-click="0" value=".08.">August</option>
                <option ng-click="0" value=".09.">September</option>
                <option ng-click="0" value=".10.">October</option>
                <option ng-click="0" value=".11.">November</option>
                <option ng-click="0" value=".12.">December</option>
            </select>
        </div>
        <div class="diagrams">
            <div id="piechartI"></div>
            <div id="piechartE"></div>
            <div id="savings"></div>
        </div>
    </div>

</div>
