<div class='users-page-information-edit'>
            <form role=form name="users-page-information-edit" novalidate>
                <fieldset>
                        <input type="text" value='newName'>
                        <input type="text" value='newSName'>
                        <input type="text" value='newEmail'>
                        <input type="text" value='newPassword'>
                        <input type="text" value='newAge'>
                </fieldset>
                <input type='button' value="Save">
                <input type='button' value="Cancel">
                
            </form>
</div>
        