<div class='users-page-information-edit'>
    <form role=form name="users-page-information-edit-form" novalidate>
        <fieldset>
            <table>
                <tr>
                    <td>
                        <p>Name</p>
                    </td>
                    <td>
                        <input type="text" ng-model="newName" value="New name" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Surname</p>
                    </td>
                    <td>
                        <input type="text" ng-model="newsname" value="new sname" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>E-mail</p>
                    </td>
                    <td>
                        <input type="email" ng-model="newEmail" value="E-mail" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Date of birth</p>
                    </td>
                    <td>
                        <input type="text" ng-model="newDateOfBirth" value="ДД.ММ.РР" required>
                    </td>
                </tr>
            </table>
        </fieldset>
        <input type='button' value="Save"> </form>
</div>