<div id="topMenu" ng-show="headerBlock">
    <ul class="top-menu">
            <li><a>Total budget: {{totalBudget}}</a></li>	<!-- всі доходи мінус витрати за весь час -->
            <li><a>Month incomes: {{monthInc}}</a></li>								<!-- місячні доходи-->
            <li><a>Month expences: {{monthExp}}</a></li>								<!-- місячні витрати-->
            <li><a>Month Balance: {{monthInc - monthExp}}</a></li>						<!-- місячні доходи мінус місячні витрати-->
        <li><input type="button" value="INCOMES" ng-click = "openIncomes()"></li>
    </ul>
</div>