<main ng-show="menuBlock">
    <input type="checkbox" id="nav-toggle" >
     <nav class="nav">
           <label for="nav-toggle" class="nav-toggle"></label>
           <ul>
               <li><a href="#0">Photo</a>
               <li><a href="#1">Home</a>
               <li><a href="#2">Edit</a>
               <li><a href="#3" ng-click="usersPage()">Account</a>
               <li><a href="#4">History</a>
               <li><a href="#5">Statistics</a>
               <li><a href="#6" ng-click="LogOut()">Log Out</a>
           </ul>
       </nav>
</main>
