<main ng-show="menuBlock">
    <input type="checkbox" id="nav-toggle" >
     <nav class="nav">
           <label for="nav-toggle" class="nav-toggle"></label>
           <ul>
               <li><a href="#0">Photo</a>
               <li><a href="#1" ng-click="homePage()">Home</a>
               <li><a href="#3" ng-click="usersPage()">Account</a>
               <li><a href="#4" ng-click="historyPage()">History</a>
               <li><a href="#5" ng-click="statsPage()">Statistics</a>
               <li><a href="#6" ng-click="LogOut()">Log Out</a>
           </ul>
       </nav>
</main>
